<div class="container">
  <div class="title">
    <h1>Añadir Cliente</h1>
    <a routerLink="/customers" class="big-button back-button">Regresar</a>
  </div>
  <hr />
  <form class="customerForm">
    <div class="personalData">
      <h3>Información personal del cliente</h3>
      <span></span>
      <div class="labeledInput">
        <label for="name">Nombre</label>
        <input id="name" type="text" placeholder="Nombre" />
      </div>
      <div class="labeledInput">
        <label for="name">Fecha nacimiento</label>
        <input id="date" type="date" />
      </div>
      <div class="labeledInput">
        <label for="">Tipo de documento</label>
        <select name="" id="">
          <option value="CC">CC</option>
          <option value="TI">TI</option>
        </select>
      </div>
      <div class="labeledInput">
        <label for="">Número de documento</label>
        <input type="text" placeholder="Número documento" />
      </div>
      <div class="labeledInput">
        <label for="">Dirección</label>
        <input type="text" placeholder="Dirección" />
      </div>
      <div class="labeledInput">
        <label for="">e-mail</label>
        <input type="email" placeholder="Correo electrónico" />
      </div>
      <div class="labeledInput">
        <label for="">Teléfono</label>
        <input type="number" placeholder="Telefono" />
      </div>
      <div class="labeledInput">
        <label for="">Días restantes</label>
        <input type="number" placeholder="Días restantes" />
      </div>
      <h3>Contacto de emergencia</h3>
      <span></span>
      <div class="labeledInput">
        <label for="">Nombre </label>
        <input type="text" placeholder="Nombre" />
      </div>
      <div class="labeledInput">
        <label for="">e.mail</label>
        <input type="text" placeholder="Correo electrónico" />
      </div>
      <div class="labeledInput">
        <label for="">Teléfono</label>
        <input type="text" placeholder="Telefono" />
      </div>
      <div class="labeledInput">
        <label for="">Relación</label>
        <input type="text" placeholder="Relación" />
      </div>
    </div>
    <div class="medicalInfo">
      <div class="medicalContainer">
        <h3>Información médica</h3>
        <div class="labeledInput">
          <label for="">Peso (kg)</label>
          <input type="text" placeholder="Peso" />
        </div>
        <div class="labeledInput">
          <label for="">Altura (m)</label>
          <input type="text" placeholder="Altura" />
        </div>
        <div class="labeledInput">
          <label for="">Género</label>
          <select name="" id="">
            <option value="M">Masculino</option>
            <option value="F">Femenino</option>
            <option value="xd">otro</option>
          </select>
        </div>
        <div class="labeledInput">
          <label for="">Condiciones médicas</label>
          <textarea rows="6" placeholder="Condiciones médicas"></textarea>
        </div>
      </div>
      <button type="submit">CREAR CLIENTE</button>
    </div>
  </form>
</div>
