.customerInfo
  display: grid
  grid-template-columns: repeat(3,1fr)
  gap: 15px
  hr
    margin: 15px 0
  .personalInfo, .emergencyInfo, .medicalInfo
    display: flex
    flex-direction: column
    gap: 25px
    text-align: center
    div
      display: flex
      flex-direction: column