:root
    --white: #F2F2F2
    --light-gray: #737373
    --gray: #262626
    --black: #0D0D0D
    --primary: #E53F62
*
    margin: 0
    padding: 0
    font-family: 'Inter', sans-serif
html
    font-size: 16px
body
    height: 100vh
    box-sizing: border-box
h1
    font-size: 2.5rem
    color: var(--gray)
table
    border-spacing: 30px
th
    color: var(--light-gray)
    text-align: left
td
    font-weight: 600

