:root
    --white: #F2F2F2
    --light-gray: #737373
    --gray: #262626
    --black: #0D0D0D
    --primary: #E53F62
*
    margin: 0
    padding: 0
    font-family: 'Inter', sans-serif
html
    font-size: 16px
body
    height: 100vh
    box-sizing: border-box
h1
    font-size: 2.5rem
    color: var(--gray)
table
    border-spacing: 30px
th
    color: var(--light-gray)
    text-align: left
td
    font-weight: 600
    padding: 5px 0

.container
    display: flex
    flex-direction: column
    padding: 50px
    .title
        display: flex
        flex-direction: row
        align-items: center
        .big-button
            color: var(--white)
            text-decoration: none
            padding: 7.5px 15px
            border-radius: 20px
            margin-left: 40px
            transition: 0.5s
            &.add-button
                background: var(--primary) 
            &.back-button
                background: var(--light-gray)
            &:hover
                transform: scale(1.1)
    hr
        margin: 50px 0
        border: none
        height: 2px
        background: var(--light-gray)

