<div class="customerCard">
  <div class="info">
    <p>
      <b>{{ customer.name }} (</b>
      {{ customer.documentType }}:
      {{ customer.documentNumber }}
      <b>)</b>
    </p>
  </div>
  <div class="icons">
    <span class="material-symbols-outlined info" title="Más información">
      info
    </span>
    <span class="material-symbols-outlined edit" title="Editar cliente">
      edit
    </span>
    <span class="material-symbols-outlined delete" title="Eliminar cliente">
      delete
    </span>
  </div>
</div>
