<div class="customerCard">
  <div class="info">
    <p>
      <b>{{ customer.name }} (</b>
      {{ customer.documentType }}:
      {{ customer.documentNumber }}
      <b>)</b>
    </p>
  </div>
  <div class="icons">
    <span
      [routerLink]="['/customers', 'details', customer.id]"
      class="material-symbols-outlined info"
      title="Más información"
    >
      info
    </span>
    <span
      [routerLink]="['/customers', 'update', customer.id]"
      class="material-symbols-outlined edit"
      title="Editar cliente"
    >
      edit
    </span>
    <span (click)="deleteCustomer()" class="material-symbols-outlined delete" title="Eliminar cliente">
      delete
    </span>
  </div>
</div>
