table
    width: 100%
    .table-button
        text-align: center
        vertical-align: middle
        background: var(--light-gray)
        border-radius: 30px
        color: var(--white)
        font-size: 0.75rem
        cursor: pointer
        &:hover
            background: var(--primary)

        